body {
    background-color: #F7D4BC;
}

header {
    padding: 20px 40px;
    text-align: start;
    margin-left: 140px;
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;
    justify-content: center;
    margin-left: -120px;

}

nav a {
    color: rgb(17, 20, 107);
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

.fotball_box {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 40px;
    justify-content: center;
}

.fotball_card {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    background-color: rgb(234, 228, 228);
    text-align: start;
}